.groupListContainer {
  display: flex;
  width: 100%;
}

.group-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  font-size: 20px;
}
