/* Container for the entire note section */
.note-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

/* Notes list background and scrollbar styling */
.notes-list {
  background: #dae5f5;
  flex: 11;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  /* scrollbar-color: black white; */
  /* scrollbar-width: thin; */
}

/* Heading with fixed background */
.heading {
  flex: 2;
  background: #001f8b;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-size: 20px;
  gap: 15px;
}
.group-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* Container for each note */
.content {
  margin: 20px;
}

/* Note item styling with box shadow */
.note-item {
  margin-bottom: 20px;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adding shadow */
}

/* Styling for metadata (date and time) below each note */
.note-meta {
  margin-top: 10px;
  font-size: 12px;
  color: #6c757d;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

/* Bottom section with a text area */
.bottomBox {
  display: flex;
  flex: 5;
  justify-content: center;
  align-items: center;
  background: #001f8b;
  position: relative;
}

/* Box shadow for the text area */
.textBox {
  width: 95%;
  height: 80%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adding shadow */
}

.textArea {
  width: 98%;
  height: 85%;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
}

/* Positioning the forward arrow icon */
.addButton {
  position: absolute;
  bottom: 25px;
  right: 40px;
}

.arrowIcon {
  width: 25px;
  height: 20px;
  cursor: pointer;
}
