* {
  margin: 0;
  padding: 0;
}

.appContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.leftBox {
  flex: 1;
  position: relative;
}

.rightBox {
  /* background-color: yellow; */
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  object-fit: cover;
}
.defaultImg {
  width: 100%;
  height: 100%;
}

/* Style for the image when no group is selected */
.noGroupSelected img {
  width: 100%;
  height: 100%;
}

/* Overflow for the group list */
.list {
  height: 85%;
  overflow-y: scroll;
}

/* Styles for the create group button */
.createGroupBtn {
  position: absolute;
  bottom: 20px;
  width: 45px;
  right: 40px;
}
.titleHeading {
  height: 15%;
  align-content: center;
  margin-left: 95px;
}

/* ============================== */

/* ============================== */

/* Entire Scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Track of the scrollbar (background) */
::-webkit-scrollbar-track {
  background: rgb(226, 236, 239); /* Color of the track */
  border-radius: 20px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background-color: white; /* Color of the scrollbar handle */
  border-radius: 10px; /* Roundness of the scrollbar handle */
  /* border: 2px solid #f1f1f1; Optional: adds some space between handle and edge */
}

/* Hover effect on the scrollbar handle */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color on hover */
}

/* --------------------------------------------- */
@media (max-width: 500px) {
  .appContainer {
    flex-direction: column;
  }

  .leftBox {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .titleHeading {
    margin-left: 55px;
    font-size: 35px;
  }

  .rightBox {
    display: none; /* Hide the rightBox by default on mobile */
    height: 100%;
  }

  /* Back arrow icon styles */
  .backArrow {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 1;
  }

  .backArrow img {
    width: 30px;
    height: 30px;
  }
}
